<div class="text-white flex flex-col gap-3 md:gap-5 items-center">
  <div class="italic text-2xl md:text-4xl">about me</div>

  <div class="whitespace-pre-line text-center md:text-xl">
    Hello, I'm Abu, and I am basically a professional problem solver, but with fewer capes and more coffee. 
    
    I write code that (mostly) works and occasionally breaks things. If I'm not debugging, I’m probably debugging my life. My hobbies include fixing bugs, making features, and pretending I understand all those error messages. 
  </div>
</div>
