<div class="text-white flex flex-col gap-3 md:gap-5">
  <div class="italic text-2xl md:text-4xl text-center">projects</div>
  <div class="md:text-xl text-center">
    Some things I’ve worked (or am working) on
  </div>

  <div class="flex flex-col gap-[10px] md:gap-[20px]">
    <!-- Tek -->
    <div>
      {{ partial "project-item.html" (dict "imageOrder" 1 "descriptionOrder" 2 "image" "projects/tek.jpg" "title" "Tek.fm" "description" `The website provides real-time news coverage from around the world. It features categories like politics, economy, technology, society, and entertainment, offering both breaking news and in-depth stories. The site includes updates on events, commentary, and occasional lighter "good news" segments.` "builtWith" `TypeScript, Nuxt, Vue, Java` "projectUrl" "https://news.tek.fm" ) }}
    </div>

    <!-- Widget -->
    <div>
      {{ partial "project-item.html" (dict "imageOrder" 2 "descriptionOrder" 1 "image" "projects/widget.svg" "title" "Widget.fm" "description" `A platform focused on gamifying websites to increase user engagement and traffic. It offers an adaptive system of tasks, a customizable SDK for easy integration, and fast setup for developers. The service enables websites to integrate interactive, reward-based features to enhance user participation and monetization. ` "builtWith" `TypeScript, Vue, Vite, CSS` "projectUrl" "https://widget.fm" ) }}
    </div>

    <!-- Desigram -->
    <div>
      {{ partial "project-item.html" (dict "imageOrder" 2 "descriptionOrder" 1 "image" "projects/desigram.svg" "title" "Desigram" "description" `A hub for design enthusiasts, offering resources like guides, case studies, job postings, and news in fields such as graphic, UI/UX, and motion design. It also features tools, references, and templates for creative projects. The platform connects designers through blogs and curated Telegram channels focused on inspiration, learning, and professional growth.` "builtWith" `TypeScript, Nuxt, Vue, TailwindCSS, Supabase` "projectUrl" "https://desigram.ru" ) }}
    </div>

    <!-- Tokengram -->
    <div>
      {{ partial "project-item.html" (dict "imageOrder" 1 "descriptionOrder" 2 "image" "projects/tokengram.svg" "title" "Tokengram" "description" `A website dedicated to providing the latest news and analysis on the cryptocurrency market. It offers information on new cryptocurrencies, trends, and technologies in the crypto world.` "builtWith" `TypeScript, Nuxt, Vue, TailwindCSS, Supabase` "projectUrl" "https://tokengram.ru" ) }}
    </div>

    <!-- Btc-card -->
    <div>
      {{ partial "project-item.html" (dict "imageOrder" 1 "descriptionOrder" 2 "image" "projects/btc-card.svg" "title" "Btc-card" "description" `A website offering Bitcoin gift cards, both physical and virtual. These cards allow recipients to access and utilize Bitcoin easily, making them suitable for gifts or personal use. Each card features a QR code for balance access and a scratch-off layer revealing a secret phrase for security. Users can activate the card by scanning the QR code, enabling them to spend or hold the Bitcoin as an investment. The website emphasizes the benefits of Bitcoin gift cards, highlighting their potential for value appreciation, ease of use, and the opportunity to introduce recipients to cryptocurrency. It also provides guidance on creating a cryptocurrency wallet and offers information about Bitcoin and its applications.` "builtWith" `TypeScript, Nuxt, Vue, CSS, Java` "projectUrl" "https://btc-card.com" ) }}
    </div>
  </div>
</div>
