<div
  class="navbar-container flex align-center justify-center text-white bg-zinc-900 h-[60px] px-6 py-3 border-b border-zinc-400 shadow shadow-slate-400"
>
  <div
    class="flex justify-center md:justify-between items-center w-full md:w-[1224px]"
  >
    <a href="/" class="font-cursive text-[30px] flex items-center">
      Abu Huraira
    </a>

    <!-- Right -->
    <div>
      <!-- Links -->
      <div class="hidden sm:flex gap-[60px] items-center">
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="mailto:hello@abuhuraira.me">Get in touch</a>
      </div>
    </div>
  </div>
</div>
