<div
  class="flex flex-col items-center gap-[12px] bg-white text-zinc-900 p-[20px] md:p-[70px] rounded-[20px] md:rounded-[28px]"
>
  <!-- Top -->
  <div class="text-2xl md:text-4xl italic">Hello!</div>
  <!-- Middle    -->
  <div class="md:text-xl">Welcome to my corner of the internet!</div>
  <!-- Bottom -->
  <div class="flex justify-between items-center">
    <!-- Contacts -->
    <div class="flex gap-3 md:gap-5">
      <a href="https://linkedin.com/in/abuh" target="_blank">
        <img src="icons/linkedin.svg" alt="" class="w-[32px] md:w-[48px]" />
      </a>

      <a href="https://github.com/abuwho" target="_blank">
        <img src="icons/github.svg" alt="" class="w-[32px] md:w-[48px]" />
      </a>

      <a href="https://t.me/huraira" target="_blank">
        <img src="icons/telegram.svg" alt="" class="w-[32px] md:w-[48px]" />
      </a>

      <a href="mailto:hello@abuhuraira.me" target="_blank">
        <img src="icons/email.svg" alt="" class="w-[32px] md:w-[48px]" />
      </a>
    </div>
  </div>
</div>
