<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="styles/tailwind.output.css" />

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  </head>
  <body class="bg-zinc-900">
    <div id="__root">
      <!-- Navbar -->
      <div class="sticky top-0">{{ partial "navbar.html" . }}</div>
      <div class="all-content flex justify-center align-center px-6">
        <div class="flex flex-col gap-[60px] py-8 w-full md:max-w-[1224px]">
          <div>{{ partial "overview.html" . }}</div>
          <div>{{ partial "about.html" . }}</div>
          <div>{{ partial "all-projects.html" . }}</div>
        </div>
      </div>
    </div>
  </body>
</html>
